{{- if eq .Values.capture_mode "live" }}
---
apiVersion: v1
data:
  EXTRACT_FILES_PATH: /zeek/extract_files
  ZEEK_INTEL_PATH: /usr/local/zeek/share/zeek/site/intel
  ZEEK_LIVE_CAPTURE: "true"
  ZEEK_LOG_PATH: "/zeek/live"
  ZEEK_PCAP_PROCESSOR: "false"
  # Set ZEEK_DISABLE_STATS to blank to generate stats.log and capture_loss.log
  ZEEK_DISABLE_STATS: "{{ .Values.zeek_live.zeek_disable_stats }}"
  {{- if .Values.is_production }}
    {{- with .Values.zeek_live.production }}
  ZEEK_LB_PROCS_WORKER_DEFAULT: "{{ .zeek_lb_procs_worker_default }}"
  ZEEK_LB_PROCS: "{{ .zeek_lb_procs }}"
  WORKER_LB_PROCS: "{{ .worker_lb_procs }}"
  ZEEK_LB_METHOD: "{{ .zeek_lb_method }}"
  ZEEK_AF_PACKET_BUFFER_SIZE: "{{ .zeek_af_packet_buffer_size }}"
  ZEEK_PIN_CPUS_WORKER_1: "{{ .zeek_pin_cpus_worker_1 }}"
    {{- end }}
  {{- else }}
    {{- with .Values.zeek_live.development }}
  ZEEK_LB_PROCS_WORKER_DEFAULT: "{{ .zeek_lb_procs_worker_default }}"
  ZEEK_LB_PROCS: "{{ .zeek_lb_procs }}"
  WORKER_LB_PROCS: "{{ .worker_lb_procs }}"
  ZEEK_LB_METHOD: "{{ .zeek_lb_method }}"
  ZEEK_AF_PACKET_BUFFER_SIZE: "{{ .zeek_af_packet_buffer_size }}"
  ZEEK_PIN_CPUS_WORKER_1: "{{ .zeek_pin_cpus_worker_1 }}"
    {{- end }}
  {{- end }}
kind: ConfigMap
metadata:
  name: zeek-live-env

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: zeek-live-daemonset
spec:
  selector:
    matchLabels:
      name: zeek-live-daemonset
  template:
    metadata:
      labels:
        name: zeek-live-daemonset
    spec:
      # Required for coredns to work with hostnetwork set to true.
      serviceAccountName: {{ .Values.zeek_chart_overrides.serviceAccountName | default "default" }}
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      nodeSelector:
{{ toYaml .Values.zeek_live.nodeSelector | indent 8 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      {{ include "malcolm.zeek.container" (dict
           "root" $
           "mode" "live"
           "securityContext" (dict "capabilities" (dict "add" (list "NET_ADMIN" "NET_RAW" "SYS_NICE")))
           "env" (concat
             (.Values.zeek_live.extra_env | default (list))
             (list
               (dict "name" "ZEEK_DISABLED" "value" "false")
               (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
             )
           )
           "baseVolumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/zeek/extract_files" "name" "zeek-live-extract-files-volume" "subPath" "extract_files")
             (dict "mountPath" "/zeek/live" "name" "zeek-live-logs-volume" "subPath" "live")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel-preseed/configmap" "name" "zeek-live-intel-preseed-volume")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel" "name" "zeek-intel-volume" "subPath" "zeek/intel")
           )
         ) | nindent 6 }}
      initContainers:
      {{- if ne (len .Values.zeek_chart_overrides.extra_init_containers) 0 }}
      {{- toYaml .Values.zeek_chart_overrides.extra_init_containers | nindent 6 }}
      {{- end }}
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "zeek-live-dirinit-container"
           "env" (list
             (dict "name" "PUSER_CHOWN" "value" "/zeek")
             (dict "name" "PUSER_MKDIR" "value" "/config:zeek/intel/Mandiant,zeek/intel/MISP,zeek/intel/STIX;/zeek:current,extract_files/filescan,live/logs,processed,upload;/zeek-files:extract_files/filescan")
           )
           "volumeMounts" (list
             (dict "name" "zeek-intel-volume" "mountPath" "/config")
             (dict "name" "zeek-live-logs-volume" "mountPath" "/zeek")
             (dict "name" "zeek-live-extract-files-volume" "mountPath" "/zeek-files")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: zeek-live-extract-files-volume
          persistentVolumeClaim:
            claimName: zeek-claim
        - name: zeek-live-intel-preseed-volume
          configMap:
            name: zeek-intel-preseed
        - name: zeek-intel-volume
          persistentVolumeClaim:
            claimName: config-claim
        - name: zeek-live-logs-volume
          hostPath:
            path: "{{ .Values.zeek_live.hostpath.logs }}"
            type: DirectoryOrCreate
        {{- if ne (len .Values.zeek_chart_overrides.live_volumes) 0 }}
        {{- toYaml .Values.zeek_chart_overrides.live_volumes | nindent 8 }}
        {{- else }}
        - name: zeek-custom-volume
          configMap:
            name: zeek-custom
        {{- end }}

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: zeek-live-daemonset-remotesensor
spec:
  selector:
    matchLabels:
      name: zeek-live-daemonset-remotesensor
  template:
    metadata:
      labels:
        name: zeek-live-daemonset-remotesensor
    spec:
      # Required for coredns to work with hostnetwork set to true.
      serviceAccountName: {{ .Values.zeek_chart_overrides.serviceAccountName | default "default" }}
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      nodeSelector:
{{ toYaml .Values.zeek_live.remoteNodeSelector | indent 8 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      {{ include "malcolm.zeek.container" (dict
           "root" $
           "mode" "liveRemote"
           "securityContext" (dict "capabilities" (dict "add" (list "NET_ADMIN" "NET_RAW" "SYS_NICE")))
           "env" (concat
             (.Values.zeek_live.extra_env | default (list))
             (list
               (dict "name" "ZEEK_DISABLED" "value" "false")
               (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
               (dict "name" "ZEEK_INTEL_REFRESH_CRON_EXPRESSION" "value" .Values.zeek_offline.zeek_intel_refresh_cron_expression)
               (dict "name" "ZEEK_INTEL_REFRESH_ON_STARTUP" "value" .Values.zeek_offline.zeek_intel_refresh_on_startup)
             )
           )
           "baseVolumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/zeek/extract_files" "name" "zeek-live-extract-files-volume" "subPath" "extract_files")
             (dict "mountPath" "/zeek/live" "name" "zeek-live-logs-volume" "subPath" "live")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel-preseed/configmap" "name" "zeek-live-intel-preseed-volume")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel" "name" "zeek-intel-volume" "subPath" "zeek/intel")
           )
         ) | nindent 6 }}
      {{- if ne (len .Values.zeek_chart_overrides.sideCars) 0 }}
      {{- toYaml .Values.zeek_chart_overrides.sideCars | nindent 6 }}
      {{- end }}
      {{ include "malcolm.filescan.container" (dict
           "root" $
           "redisSecretName" "redis-remotesensor-env"
           "zeekVolumeName" "zeek-live-extract-files-volume"
           "logsVolumeName" "filescan-live-logs-volume"
           "extraEnv" (list
             (dict "name" "FILESCAN_HTTP_SERVER_ENABLE" "value" .Values.filescan_env.extracted_file_http_server_enable.remote)
             (dict "name" "FILESCAN_PRESERVATION" "value" .Values.filescan_env.extracted_file_preservation.remote)
           )
         ) | nindent 6 }}
      {{ include "malcolm.strelkaFrontend.container" (dict
           "root" $
           "redisSecretName" "redis-remotesensor-env"
           "configVolumeName" "strelka-frontend-live-config-volume"
         ) | nindent 6 }}
      {{ include "malcolm.strelkaBackend.container" (dict
           "root" $
           "redisSecretName" "redis-remotesensor-env"
           "configVolumeName" "strelka-backend-live-config-volume"
         ) | nindent 6 }}
      {{ include "malcolm.strelkaManager.container" (dict
           "root" $
           "redisSecretName" "redis-remotesensor-env"
           "configVolumeName" "strelka-manager-live-config-volume"
         ) | nindent 6 }}
      {{ include "malcolm.redis.container" (dict
          "root" $
          "name" "redis-container"
          "mode" "main"
          "secretName" "redis-remotesensor-env"
          "port" .Values.redis_env.ports.remote.persistent
          "portName" "redis-sensor"
          "extraVolumeMounts" (list
            (dict "mountPath" "/data" "name" "redis-remotesensor-volume" "subPath" "data")
          )
        ) | nindent 6 }}
      {{ include "malcolm.redis.container" (dict
          "root" $
          "name" "redis-cache-container"
          "mode" "cache"
          "secretName" "redis-remotesensor-env"
          "port" .Values.redis_env.ports.remote.cache
          "portName" "redisca-sensor"
        ) | nindent 6 }}
      {{ include "malcolm.filebeat.container" (dict
           "root" $
           "redisSecretName" "redis-remotesensor-env"
           "env" (list
             (dict "name" "MALCOLM_PROFILE" "value" "hedgehog")
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
             (dict "name" "FILEBEAT_ZEEK_LOG_LIVE_PATH" "value" "/zeek/live")
             (dict "name" "FILEBEAT_SURICATA_LOG_PATH" "value" "/suricata")
             (dict "name" "FILEBEAT_FILESCAN_LOG_PATH" "value" "/filescan")
           )
           "volumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/var/local/curlrc/secretmap" "name" "filebeat-opensearch-curlrc-secret-volume")
             (dict "mountPath" "/suricata" "name" "suricata-live-logs-volume")
             (dict "mountPath" "/zeek" "name" "zeek-live-logs-volume")
             (dict "mountPath" "/filescan" "name" "filescan-live-logs-volume" "subPath" "filescan")
           )
         ) | nindent 6 }}
      initContainers:
      {{- if ne (len .Values.zeek_chart_overrides.extra_init_containers) 0 }}
      {{- toYaml .Values.zeek_chart_overrides.extra_init_containers | nindent 6 }}
      {{- end }}
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "zeek-remotesensor-dirinit-container"
           "env" (list
             (dict "name" "PUSER_CHOWN" "value" "/config;/filescan;/redis;/suricata-live-logs;/zeek-live-logs;/zeek-files")
             (dict "name" "PUSER_MKDIR" "value" "/suricata-live-logs:live;/filescan:filescan;/config:zeek/intel/Mandiant,zeek/intel/MISP,zeek/intel/STIX;/zeek-live-logs:current,live/logs,processed,upload;/zeek-files:extract_files/filescan;/redis:data")
           )
           "volumeMounts" (list
             (dict "name" "filescan-live-logs-volume" "mountPath" "/filescan")
             (dict "name" "zeek-intel-volume" "mountPath" "/config")
             (dict "name" "zeek-live-logs-volume" "mountPath" "/zeek-live-logs")
             (dict "name" "suricata-live-logs-volume" "mountPath" "/suricata-live-logs")
             (dict "name" "zeek-live-extract-files-volume" "mountPath" "/zeek-files")
             (dict "name" "redis-remotesensor-volume" "mountPath" "/redis")
           )
         ) | nindent 6 }}
      volumes:        
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: zeek-live-extract-files-volume
          hostPath:
            path: "{{ .Values.zeek_live.hostpath.extracted }}"
            type: DirectoryOrCreate
        - name: redis-remotesensor-volume
          hostPath:
            path: "{{ .Values.redis_env.hostpath }}"
            type: DirectoryOrCreate
        - name: zeek-live-intel-preseed-volume
          configMap:
            name: zeek-intel-preseed
        - name: zeek-intel-volume
          emptyDir:
            sizeLimit: 4Gi
        - name: zeek-live-logs-volume
          hostPath:
            path: "{{ .Values.zeek_live.hostpath.logs }}"
            type: DirectoryOrCreate
        - name: suricata-live-logs-volume
          hostPath:
            path: "{{ .Values.suricata_live.hostpath }}"
            type: DirectoryOrCreate
        - name: filebeat-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: filescan-live-logs-volume
          hostPath:
            path: "{{ .Values.filescan_env.hostpath }}"
            type: DirectoryOrCreate
        - name: strelka-frontend-live-config-volume
          configMap:
            name: strelka-frontend-config
        - name: strelka-backend-live-config-volume
          configMap:
            name: strelka-backend-config
        - name: strelka-backend-yara-rules-custom-volume
          configMap:
            name: yara-rules
        - name: strelka-manager-live-config-volume
          configMap:
            name: strelka-manager-config
        {{- if ne (len .Values.zeek_chart_overrides.live_remote_volumes) 0 }}
        {{- toYaml .Values.zeek_chart_overrides.live_remote_volumes | nindent 8 }}
        {{- else }}
        - name: zeek-custom-volume
          configMap:
            name: zeek-custom
        {{- end }}
{{- end }}
